---
import MainLayout from "../layouts/MainLayout.astro";
import ImageBlock from "./blocks/ImageBlock.astro";
import Headline3Block from "./blocks/Headline3Block.astro";
---

<MainLayout>
  <div class="flex flex-col gap-12 lg:gap-24 mt-16 lg:mt-24">
    <section class="outer">
      <div class="inner">
        <h1 id="title" class="text-3xl lg:text-5xl">404</h1>
      </div>
    </section>

    <Headline3Block />
    <ImageBlock />
  </div>
</MainLayout>
