---
import MainLayout from "../layouts/MainLayout.astro";
import Headline2Block from "./blocks/Headline2Block.astro";
import ImageWithBoxBlock from "./blocks/ImageWithBoxBlock.astro";
import RteBlock from "./blocks/RteBlock.astro";
import ImageBlock from "./blocks/ImageBlock.astro";
import TimelineBlock from "./blocks/TimelineBlock.astro";
import Swiper1Block from "./blocks/Swiper1Block.astro";
---

<MainLayout>
  <div class="flex flex-col gap-12 lg:gap-24 mt-16 lg:mt-24">
    <section class="outer">
      <div class="inner">
        <h1 id="title" class="text-3xl lg:text-5xl">Om oss</h1>
      </div>
    </section>

    <Headline2Block />
    <ImageWithBoxBlock />
    <RteBlock />
    <ImageBlock />
    <TimelineBlock />
    <Swiper1Block />
  </div>
</MainLayout>
