---
import MainLayout from "../layouts/MainLayout.astro";
import Headline2Block from "./blocks/Headline2Block.astro";
import ImageWithBoxBlock from "./blocks/ImageWithBoxBlock.astro";
import ImageBlock from "./blocks/ImageBlock.astro";
import RteBlock from "./blocks/RteBlock.astro";
import IllustrationBlock from "./blocks/IllustrationBlock.astro";
import FullImageWithBoxBlock from "./blocks/FullImageWithBoxBlock.astro";
import Swiper2Block from "./blocks/Swiper2Block.astro";
import VideoBlock from "./blocks/VideoBlock.astro";

---

<MainLayout>
  <div class="flex flex-col gap-12 lg:gap-24 mt-16 lg:mt-24">
    <section class="outer">
      <div class="inner">
        <h1 id="title" class="text-3xl lg:text-5xl">Inspirasjon</h1>
      </div>
    </section>

    <Headline2Block />    
    <ImageWithBoxBlock />
    <ImageBlock />
    <RteBlock />
    <IllustrationBlock />
    <RteBlock />
    <FullImageWithBoxBlock />
    <RteBlock />


    <!-- image and text block (obs tittel og design, ikke link som på forsiden) -->
    <section class="outer">
      <div class="inner inner--grid">
        <div class="col-start-1 col-end-13 lg:col-end-10">
          <img class="clip-corner-lg w-full no-visual-search" src="/coffee-on-floor.jpg" alt="Alt tekst her .." />
        </div>
        <div class="col-start-2 col-end-10 lg:col-start-10 lg:col-end-13 lg:self-end">
          <h2 class="text-3xl">Ny elegant og smart stol fra Fora Form</h2>
          <p class="mt-2">Minim velit nulla exercitation fugiat cillum aliquip mollit labore aliqua aute.</p>
          <p class="text-xs lg:text-sm font-thin mt-10">Design GU Design Team / Ragnhild Nordhagen & Christiane Müller</p>
        </div>
      </div>
    </section>
    
    <RteBlock />
    <Swiper2Block />
    <RteBlock />
    <VideoBlock />
    <RteBlock />
    
  </div>
</MainLayout>
