---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <div class="flex flex-col gap-12 lg:gap-24 mt-16 lg:mt-24">
    <section class="outer">
      <div class="inner">
        <h1 class="text-3xl lg:text-5xl">Kolleksjoner</h1>
        <div class="inner--grid mt-16">
          <div class="col-start-1 col-span-6">
            <a href="/collection">
              <img class="aspect-video object-cover object-bottom w-full no-visual-search" src="chair.jpg" />
            </a>
            <div class="mt-8">
              <a class="button" href="/collection">Møbelstoff</a>
            </div>
          </div>
          <div class="col-start-7 col-span-6">
            <a href="/collection">
              <img class="aspect-video object-cover object-bottom w-full no-visual-search" src="people.jpg" />
            </a>
            <div class="mt-8">
              <a class="button" href="/collection">Bunadstoff</a>
            </div>
          </div>
        </div>

        <div class="mt-24">
          <h2 class="text-xl lg:text-2xl pb-3 lg:pb-4 border-b border-black">Laget for å vare</h2>
          <div class="inner--grid mt-10">
            <div class="col-start-1 col-span-10 lg:col-span-6 text-lg">
              <p>En kort intro til hvorfor GU lager produkter som skal vare og at det er viktig at produktene blir tatt vare på for at de skal holde.</p>
            </div>
          </div>
          <div class="inner--grid">
            <div class="col-start-1 col-span-10 row-start-2 lg:row-start-auto lg:col-span-5 self-end">
              <div class="inline-flex flex-col gap-4">
                <a href="#" class="button button--download flex items-center justify-between gap-4 text-sm lg:text-inherit">
                  <span> Vedlikeholdsguide for bunadstoff</span>
                  <svg class="h-[20px] w-[13px] lg:h-[28px] lg:w-[19px] fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 30"><path fill-rule="evenodd" clip-rule="evenodd" d="M9.5 23.2773V.75h1v22.5273l6.1635-6.3306.7165.6975L10 25.2243l-7.37999-7.5801.7165-.6975L9.5 23.2773Zm10 4.9727v1H.5v-1h19Z"></path></svg>
                </a>
                <a href="#" class="button button--download flex items-center justify-between gap-4 text-sm lg:text-inherit">
                  <span> Vedlikeholdsguide for møbelstoff</span>
                  <svg class="h-[20px] w-[13px] lg:h-[28px] lg:w-[19px] fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 30"><path fill-rule="evenodd" clip-rule="evenodd" d="M9.5 23.2773V.75h1v22.5273l6.1635-6.3306.7165.6975L10 25.2243l-7.37999-7.5801.7165-.6975L9.5 23.2773Zm10 4.9727v1H.5v-1h19Z"></path></svg>
                </a>
              </div>
            </div>
            <div class="col-start-4 col-span-9 lg:col-start-8 lg:col-span-5">
              <img class="max-h-[512px] max-w-full no-visual-search" src="illustration-fabric.png" />
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</MainLayout>
