---
import MainLayout from "../layouts/MainLayout.astro";
import "swiper/css";
import "swiper/css/navigation";
---

<script>
  import Swiper, { Navigation } from "swiper";

  new Swiper(".swiper-1", {
    breakpoints: {
      320: {
        slidesOffsetBefore: 20,
        slidesOffsetAfter: 20,
        slidesPerView: 1.7,
        spaceBetween: 20,
      },
      1024: {
        slidesOffsetBefore: 0,
        slidesOffsetAfter: 0,
        slidesPerView: 3,
        spaceBetween: 30,
      },
    },
  });

  new Swiper(".swiper-2", {
    slidesPerView: 1,
    breakpoints: {
      320: {
        spaceBetween: 20,
      },
      1024: {
        spaceBetween: 30,
      },
    },
    pagination: {
      el: ".swiper-2-pagination",
    },
    navigation: {
      prevEl: ".swiper-2-button-prev",
      nextEl: ".swiper-2-button-next",
    },
    modules: [Navigation],
  });
</script>

<style>
  .hero {
    min-height: 20rem;
    max-height: 90vh;
  }
</style>

<MainLayout absHeader={true} whiteLogo={true}>
  <div class="flex flex-col gap-12 lg:gap-24 text-xl">
    <!-- hero -->
    <section class="relative">
      <img class="hero aspect-video object-cover object-bottom w-full no-visual-search" src="/home.jpg" />
      <div class="absolute bottom-6 lg:bottom-12 w-full flex justify-center gap-3">
        <a href="/collection" class="button">Møbelstoff</a>
        <a href="/collection" class="button">Bunadstoff</a>
      </div>
    </section>

    <!-- headline block -->
    <section class="outer">
      <div class="inner inner--grid">
        <div class="col-start-3 col-end-11">
          <h2 class="text-xl lg:text-3xl text-center lg:py-8">Gudbrandsdalen Uldvarefabrik create textiles woven to stand the test of time, naturally</h2>
        </div>
      </div>
    </section>

    <!-- image with text box overlay block -->
    <section class="outer relative lg:pb-20">
      <div class="inner inner--grid">
        <div class="col-start-1 col-end-12 lg:col-end-11 bg-red-100">
          <img class="w-full no-visual-search" src="/fabric-orange.jpg" alt="" />
        </div>
      </div>
      <div class="lg:absolute lg:bottom-0 lg:left-0 lg:right-0 lg:px-8 -mt-12 lg:mt-0 -mr-5 lg:mr-0">
        <div class="inner inner--grid left-0">
          <div class="col-start-4 lg:col-start-8 col-end-13 p-6 lg:p-12 bg-gold">
            <p>Gudbrandsdalens Uldvarefabrik har alle prosesser under samme tak. Design, utvikling og produksjon tett på hverandre gir fordeler som hever kvaliteten.</p>
          </div>
        </div>
      </div>
    </section>

    <!-- full width image with box overlay block -->
    <section class="relative lg:pb-20">
      <img class="hero aspect-video object-cover object-bottom w-full no-visual-search" src="/stressless.jpg" />
      <div class="lg:absolute lg:bottom-0 lg:left-0 lg:right-0 px-5 lg:px-8 -mt-12 lg:mt-0">
        <div class="inner inner--grid left-0">
          <div class="col-start-1 col-end-9 lg:col-end-6">
            <div class="inline-block p-6 lg:p-12 bg-gold">
              <p>Vi har et nytt og spennende samarbeid med Stressless.</p>
              <a class="link mt-3 lg:mt-8" href="#">Les mer</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- swiper 1 block -->
    <section class="outer">
      <div class="inner -mx-5 lg:mx-auto">
        <div class="swiper swiper-1">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="/square-1.jpg" class="aspect-square object-cover object-center w-full no-visual-search" alt="" />
              <p class="mt-6 lg:mt-14">In pariatur anim pariatur reprehenderit exercitation Lorem quis elit excepteur.</p>
              <a class="link mt-3 lg:mt-8" href="#">Les mer</a>
            </div>
            <div class="swiper-slide">
              <img src="/square-2.jpg" class="aspect-square object-cover object-center w-full no-visual-search" alt="" />
              <p class="mt-6 lg:mt-14">In pariatur anim pariatur reprehenderit exercitation Lorem quis elit excepteur.</p>
              <a class="link mt-3 lg:mt-8" href="#">Les mer</a>
            </div>
            <div class="swiper-slide">
              <img src="/square-3.jpg" class="aspect-square object-cover object-center w-full no-visual-search" alt="" />
              <p class="mt-6 lg:mt-14">In pariatur anim pariatur reprehenderit exercitation Lorem quis elit excepteur.</p>
              <a class="link mt-3 lg:mt-8" href="#">Les mer</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- video block -->
    <section class="relative">
      <img class="hero h-[768px] lg:h-auto lg:aspect-video object-cover object-center w-full no-visual-search" src="/poster-lg.jpg" />
      <div class="absolute inset-0 flex items-center justify-center">
        <svg class="h-36 w-36 lg:h-40 lg:w-40" viewBox="0 0 152 152" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="76" cy="76" r="73.5" stroke="#fff" stroke-width="5"></circle><path d="M58 44.823 112 76l-54 31.177V44.823Z" stroke="#fff" stroke-width="5"></path></svg>
      </div>
    </section>

    <!-- image and text block -->
    <section class="outer">
      <div class="inner inner--grid">
        <div class="col-start-1 col-end-13 lg:col-end-10">
          <img class="w-full no-visual-search" src="/coffee-on-floor.jpg" alt="" />
        </div>
        <div class="col-start-2 col-end-10 lg:col-start-10 lg:col-end-13 lg:self-end">
          <p>Minim velit nulla exercitation fugiat cillum aliquip mollit labore aliqua aute.</p>
          <a class="link mt-3 lg:mt-8" href="#">Les mer</a>
        </div>
      </div>
    </section>

    <!-- swiper 2 block -->
    <section class="outer">
      <div class="inner relative">
        <div class="swiper swiper-2">
          <div class="swiper-wrapper">
            {
              [...Array(5)].map(() => (
                <div class="swiper-slide">
                  <div class="relative pb-10">
                    <img src="/stressless.jpg" class="aspect-video object-cover object-center w-full no-visual-search" alt="" />
                    <div class="inner--grid bottom-0 z-20 absolute w-full">
                      <div class="col-start-2 col-end-9 lg:col-end-6">
                        <div class="inline-block bg-gold py-4 px-12">Bildetekst kan skrives her</div>
                      </div>
                    </div>
                  </div>
                </div>
              ))
            }
          </div>
          <div class="h-12 flex justify-end items-center">
            <div class="swiper-2-button-prev px-2" role="button">
              <svg width="9" height="15" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#a)"><path d="m7.08 0 1.27 1.2-5.94 6.26 5.94 6.19-1.27 1.21L0 7.47 7.08 0Z" fill="#000"></path></g><defs><clipPath id="a"><path fill="#fff" transform="rotate(-180 4.175 7.43)" d="M0 0h8.35v14.86H0z"></path></clipPath></defs></svg>
            </div>
            <div class="swiper-2-button-next px-2" role="button">
              <svg width="9" height="15" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#a)"><path d="M1.27 14.86 0 13.66 5.94 7.4 0 1.21 1.27 0l7.08 7.39-7.08 7.47Z" fill="#000"></path></g><defs><clipPath id="a"><path fill="#fff" d="M0 0h8.35v14.86H0z"></path></clipPath></defs></svg>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- illustration block -->
    <section class="outer relative">
      <div class="inner inner--grid">
        <div class="col-start-2 col-end-12">
          <div class="flex justify-end">
            <img class="max-h-[512px] no-visual-search" src="/illustration-machine.png" />
          </div>
        </div>
      </div>
      <div class="absolute top-0 left-0 w-full flex h-full items-center">
        <div class="inner inner--grid">
          <div class="col-start-2 col-end-8 lg:col-end-8">
            <p class="text-xl lg:text-3xl p-2 lg:p-4 bg-white rounded-lg">At Gudbrandsdalens Uldvarefabrik we have the experience to know before we weave</p>
          </div>
        </div>
      </div>
    </section>

    <!-- grid -->
    <!-- <section class="outer text-center">
      <div class="inner inner--grid">
        {[...Array(12)].map(() => <div class="bg-gray-300">x</div>)}
      </div>
    </section> -->
  </div>
</MainLayout>
