---
import MainLayout from "../layouts/MainLayout.astro";
import IllustrationBlock from "./blocks/IllustrationBlock.astro";
import Swiper1Block from "./blocks/Swiper1Block.astro";
import Swiper2Block from "./blocks/Swiper2Block.astro";
import ImageAndTextBlock from "./blocks/ImageAndTextBlock.astro";
import VideoBlock from "./blocks/VideoBlock.astro";
import FullImageWithBoxBlock from "./blocks/FullImageWithBoxBlock.astro";
import ImageWithBoxBlock from "./blocks/ImageWithBoxBlock.astro";
import Headline1Block from "./blocks/Headline1Block.astro";

---

<style>
  .hero {
    min-height: 20rem;
    max-height: 90vh;
  }
</style>

<MainLayout absHeader={true} whiteLogo={true}>
  <div class="flex flex-col gap-12 lg:gap-24 text-xl">

    <!-- hero -->
    <section class="relative">
      <img class="hero aspect-video object-cover object-bottom w-full no-visual-search" src="/home.jpg" alt="Alt tekst her .." />
      <div class="absolute bottom-6 lg:bottom-12 w-full flex justify-center gap-3">
        <a href="/collection" class="button">Møbelstoff</a>
        <a href="/collection" class="button">Bunadstoff</a>
      </div>
    </section>

    <Headline1Block h1 />
    <ImageWithBoxBlock />
    <FullImageWithBoxBlock />
    <Swiper1Block />
    <VideoBlock />
    <ImageAndTextBlock />
    <Swiper2Block />
    <IllustrationBlock />    
    
  </div>
</MainLayout>
