---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <div class="flex flex-col gap-12 lg:gap-24 mt-16 lg:mt-24">
    <header class="outer">
      <div class="inner">
        <h1 class="text-3xl lg:text-5xl">Inspirasjon</h1>
      </div>
    </header>

    <article class="outer">
      <a class="block" href="#">
        <div class="inner inner--grid">
          <div class="col-start-1 col-end-13 lg:col-end-10">
            <img class="clip-corner-8 aspect-video object-cover object-center w-full no-visual-search" src="/stressless.jpg" alt="" />
          </div>
          <div class="col-start-2 col-end-10 lg:col-start-10 lg:col-end-13 lg:self-end">
            <h2 class="text-xl lg:text-3xl">Ny elegant og smart stol fra Fora Form</h2>
          </div>
        </div>
      </a>
    </article>

  </div>
</MainLayout>
