---
import MainLayout from "../layouts/MainLayout.astro";
import ArticleList from "../components/ArticleList.astro";
---

<MainLayout>
  <div class="flex flex-col gap-12 lg:gap-24 mt-16 lg:mt-24">
    <header class="outer">
      <div class="inner">
        <h1 class="text-3xl lg:text-5xl">Referanser</h1>
      </div>
    </header>

    {[...Array(2)].map(() => (

      <article class="outer">
        <a class="block" href="/article">
          <div class="inner inner--grid">
            <div class="col-start-1 col-end-13 lg:col-end-10">
              <img class="clip-corner-lg aspect-video object-cover object-center w-full no-visual-search" src="/coffee-on-floor.jpg" alt="" />
            </div>
            <div class="col-start-1 col-end-10 lg:col-start-10 lg:col-end-13 lg:self-end">
              <div class="flex flex-col -mt-3 lg:mt-0">
                <h2 class="text-xl lg:text-3xl order-2">Ny elegant og smart stol fra Fora Form</h2>
                <h3 class="lg:text-lg mt-2 lg:mt-3 order-3">Minim velit nulla exercitation fugiat cillum aliquip mollit</h3>
                <h4 class="text-xs lg:text-sm font-light mb-2 lg:mb-0 lg:mt-10 order-1 lg:order-4">Design GU Design Team / Ragnhild Nordhagen & Christiane Müller</h4>
              </div>
            </div>
          </div>
        </a>
      </article>
      
      <ArticleList />      

    ))}

  </div>
</MainLayout>
