<div class="outer">
  <div class="inner inner--grid gap-y-10 lg:gap-y-24">
    {
      [...Array(4)].map(() => (
        <div class="col-span-12 lg:col-span-6">
          <article>
            <a href="/article">
              <img class="aspect-video object-cover object-center w-full no-visual-search" src="/woman-on-couch.jpg" alt="" />
              <h4 class="text-xs lg:text-sm font-light mt-3 lg:mt-3">Design GU Design Team / Ragnhild Nordhagen & Christiane Müller</h4>
              <h2 class="mt-4 text-xl lg:text-2xl">Ny elegant og smart stol fra Fora Form</h2>
              <h3 class="lg:text-lg mt-2 lg:mt-3">Minim velit nulla exercitation fugiat cillum aliquip mollit</h3>
            </a>
          </article>
        </div>
      ))
    }
  </div>
</div>
