<!-- headline block (smaller text) -->
<section class="outer">
  <div class="inner inner--grid">
    <div class="col-start-2 col-end-12 lg:col-start-3 lg:col-end-11">
      <h2 class="text-xl lg:text-2xl text-left lg:py-8">Irure enim ea aute ea quis id anim incididunt. In qui qui incididunt nostrud. Ullamco ea sunt nisi exercitation irure aute eu nisi. Excepteur excepteur nostrud excepteur mollit labore proident culpa nisi aute cupidatat eu est. Ullamco velit mollit.</h2>
    </div>
  </div>
</section>
