<!-- headline block (smaller text and left aligned and button) -->
<section class="outer">
  <div class="inner inner--grid">
    <div class="col-start-2 col-end-12 lg:col-start-3 lg:col-end-11">
      <h2 class="text-xl lg:text-2xl lg:py-8">Beklager, vi kan ikke finne siden du leter etter. Du kan prøve å gå tilbake eller ta kontakt med oss for å høre om vi kan hjelpe deg.</h2>
      <div class="mt-10 lg:mt-0">
        <a href="#" class="button">Ta kontakt</a>
      </div>
    </div>
  </div>
</section>
