---
const { h1 } = Astro.props;
const text = "Gudbrandsdalen Uldvarefabrik create textiles woven to stand the test of time, naturally";
---

<!-- headline 1 block -->
<section class="outer">
  <div class="inner inner--grid">
    <div class="col-start-3 col-end-11">
      { h1 && (
        <h1 class="text-xl lg:text-3xl text-center lg:py-8">{text}</h1>
      )}
      { !h1 && (
        <h2 class="text-xl lg:text-3xl text-center lg:py-8">{text}</h2>
      )}

    </div>
  </div>
</section>