<section class="outer relative">
  <div class="inner inner--grid">
    <div class="col-start-2 col-end-12">
      <div class="flex justify-end">
        <img class="max-h-[512px] no-visual-search" src="/illustration-machine.png" alt="Alt tekst her .." />
      </div>
    </div>
  </div>
  <div class="absolute top-0 left-0 w-full flex h-full items-center">
    <div class="inner inner--grid">
      <div class="col-start-2 col-end-8 lg:col-end-8">
        <p class="text-xl lg:text-3xl p-2 lg:p-4 bg-white rounded-lg">At Gudbrandsdalens Uldvarefabrik we have the experience to know before we weave</p>
      </div>
    </div>
  </div>
</section>