<section class="outer relative lg:pb-20">
  <div class="inner inner--grid">
    <div class="col-start-1 col-end-12 lg:col-end-11 bg-red-100">
      <img class="w-full no-visual-search" src="/fabric-orange.jpg" alt="Alt tekst her .." />
    </div>
  </div>
  <div class="lg:absolute lg:bottom-0 lg:left-0 lg:right-0 lg:px-8 -mt-12 lg:mt-0 -mr-5 lg:mr-0">
    <div class="inner inner--grid left-0">
      <div class="col-start-4 lg:col-start-8 col-end-13 p-6 lg:p-12 bg-gold lg:text-xl">
        <p>Gudbrandsdalens Uldvarefabrik har alle prosesser under samme tak. Design, utvikling og produksjon tett på hverandre gir fordeler som hever kvaliteten.</p>
      </div>
    </div>
  </div>
</section>