<section class="outer">
  <div class="inner inner--grid">
    <div class="col-start-1 col-end-13 lg:col-end-10">
      <img class="clip-corner-lg w-full no-visual-search" src="/coffee-on-floor.jpg" alt="Alt tekst her .." />
    </div>
    <div class="col-start-2 col-end-10 lg:col-start-10 lg:col-end-13 lg:self-end">
      <p>Minim velit nulla exercitation fugiat cillum aliquip mollit labore aliqua aute.</p>
      <a class="link mt-3 lg:mt-8" href="#">Les mer</a>
    </div>
  </div>
</section>