<!-- image block -->
<section class="outer">
  <div class="inner">
    <img class="clip-corner-lg hero aspect-video object-cover object-bottom w-full no-visual-search" src="/home.jpg" />
  </div>
</section>
