<!-- rte block -->
<section class="outer">
  <div class="inner inner--grid">
    <div class="col-start-2 col-span-10 lg:col-start-3 lg:col-span-8 rte">
      <h2>Inspirasjon</h2>
      <p>The changes of seasons in Gudbrandsdalen formed the bases for colours and texture in Redal. Do adipisicing cupidatat non cillum laboris aute consectetur reprehenderit id. Duis mollit commodo</p>
      <h2>Tekniske kvaliteter</h2>
      <p>Do adipisicing cupidatat non cillum laboris aute consectetur reprehenderit id. Duis mollit commodo elit magna nostrud excepteur labore eiusmod mollit cillum. Eiusmod excepteur tempor est ea aute ad officia et esse consectetur ut esse consectetur.</p>
      <p>Do adipisicing cupidatat non cillum laboris aute consectetur reprehenderit id. Duis mollit commodo elit magna nostrud excepteur labore eiusmod mollit cillum. Eiusmod excepteur tempor est ea aute ad officia et esse consectetur ut esse consectetur.</p>
      <h2>Prosess</h2>
      <p>Do adipisicing cupidatat non cillum laboris aute consectetur reprehenderit id. Duis mollit commodo elit magna nostrud excepteur labore eiusmod mollit cillum. Eiusmod excepteur tempor est ea aute ad officia et esse consectetur ut esse consectetur. Exercitation eu in dolor reprehenderit proident est nostrud duis est. Velit esse minim cupidatat officia proident duis in labore. Est mollit proident nisi enim laboris dolore minim quis aliquip elit ipsum sint excepteur.</p>
    </div>
  </div>
</section>