---
import "swiper/css";
import "swiper/css/navigation";
---

<script>
  import Swiper from "swiper";

  new Swiper(".swiper-1", {
    breakpoints: {
      320: {
        slidesOffsetBefore: 20,
        slidesOffsetAfter: 20,
        slidesPerView: 1.7,
        spaceBetween: 20,
      },
      1024: {
        slidesOffsetBefore: 0,
        slidesOffsetAfter: 0,
        slidesPerView: 3,
        spaceBetween: 30,
      },
    },
  });

  
</script>

<section class="outer">
  <div class="inner -mx-5 lg:mx-auto">
    <div class="swiper swiper-1">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <a href="#">
            <img src="/square-1.jpg" class="clip-corner-md aspect-square object-cover object-center w-full no-visual-search" alt="" />
            <p class="pt-6 lg:pt-14">In pariatur anim pariatur reprehenderit exercitation Lorem quis elit excepteur.</p>
          </a>
          <a class="link pt-3 lg:pt-8" href="#">Les mer</a>
        </div>
        <div class="swiper-slide">
          <a href="#">
            <img src="/square-2.jpg" class="clip-corner-md aspect-square object-cover object-center w-full no-visual-search" alt="" />
            <p class="pt-6 lg:pt-14">In pariatur anim pariatur reprehenderit exercitation Lorem quis elit excepteur.</p>
          </a>
          <a class="link pt-3 lg:pt-8" href="#">Les mer</a>
        </div>
        <div class="swiper-slide">
          <a href="#">
            <img src="/square-3.jpg" class="clip-corner-md aspect-square object-cover object-center w-full no-visual-search" alt="" />
            <p class="pt-6 lg:pt-14">In pariatur anim pariatur reprehenderit exercitation Lorem quis elit excepteur.</p>
          </a>
          <a class="link pt-3 lg:pt-8" href="#">Les mer</a>
        </div>
      </div>
    </div>
  </div>
</section>