<!-- timeline block -->
<section class="outer">
  <div class="inner inner--grid">
    <div class="col-start-2 col-span-10 lg:col-start-3 lg:col-span-8 rte">
      <h2>Priser og utmerkelser</h2>
      <p class="text-lg">Do adipisicing cupidatat non cillum laboris aute consectetur reprehenderit id. Duis mollit commodo elit magna nostrud excepteur labore eiusmod mollit cillum. Eiusmod excepteur tempor est ea aute ad officia et esse consectetur ut esse consectetur.</p>
    </div>
    <div class="col-start-2 col-span-10 lg:col-start-3 lg:col-span-4 text-base">
      <ul class="flex flex-col gap-4">
        {
          [...Array(10)].map(() => (
            <li>
              <div class="flex">
                <span class="w-28">2003</span>
                <span>Odal 2 merker - Merket for God Design og Hedersmerket</span>
              </div>
            </li>
          ))
        }
      </ul>
    </div>
    <div class="col-start-2 col-span-11 lg:col-start-7 lg:col-span-4 text-base">
      <ul class="flex flex-col gap-4">
        {
          [...Array(10)].map(() => (
            <li>
              <div class="flex">
                <span class="w-28">2003</span>
                <span>Odal 2 merker - Merket for God Design og Hedersmerket</span>
              </div>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</section>
