<section class="relative">
  <img class="hero h-[768px] lg:h-auto lg:aspect-video object-cover object-center w-full no-visual-search" src="/poster-lg.jpg" />
  <div class="absolute inset-0 flex items-center justify-center">
    <svg class="h-36 w-36 lg:h-40 lg:w-40" viewBox="0 0 152 152" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="76" cy="76" r="73.5" stroke="#fff" stroke-width="5"></circle><path d="M58 44.823 112 76l-54 31.177V44.823Z" stroke="#fff" stroke-width="5"></path></svg>
  </div>
</section>