[x-cloak] {
  @apply hidden;
}

body {
  @apply lg:text-lg;
}

.outer {
  @apply container mx-auto max-w-screen-2xl px-5 lg:px-8;
}

.inner {
  @apply max-w-screen-lg mx-auto;

  &--grid {
    @apply grid grid-cols-12 gap-5 lg:gap-8;
  }

}

.button {
  @apply inline-block px-8 py-3 lg:px-12 lg:py-5 border border-black transform transition-colors;

  &:hover {
    @apply bg-gold;
  }

  &--download {
    @apply px-4 py-3 lg:px-5 lg:py-4 font-semibold;
  }
}

.checkbox {
  @apply appearance-none h-4 w-4 border relative flex-shrink-0 border-[#D9D9D9];

  &:checked::after {
    content: "";
    display: block;
    background-image: url('/check.svg');
    height: 14px;
    width: 13px;
    position: absolute;
    left: 2px;
    bottom: 4px;
  }
}

.link {
  @apply inline-block border-black border-b-2 transform transition-colors;

  &:hover {
    @apply text-gold2 border-gold2;
  }
}

.no-visual-search {
  pointer-events: none;
}
