[x-cloak] {
  @apply hidden;
}

html {
  @apply scroll-smooth;
}

body {
  @apply font-sans lg:text-lg;
}

.outer {
  @apply container mx-auto max-w-screen-2xl px-5 lg:px-8;
}

.inner {
  @apply max-w-screen-lg mx-auto;

  &--grid {
    @apply grid grid-cols-12 gap-5 lg:gap-8;
  }
}

.button {
  @apply inline-flex items-center px-8 py-3 lg:px-12 lg:py-5 border border-black transform transition-colors;

  &:hover,
  &--active {
    @apply bg-gold;
  }

  &--download {
    @apply px-4 py-3 lg:px-5 lg:py-4 font-medium;
  }
}

.checkbox {
  @apply appearance-none h-4 w-4 border relative flex-shrink-0 border-[#D9D9D9];

  &:checked::after {
    content: "";
    display: block;
    background-image: url("/check.svg");
    height: 14px;
    width: 13px;
    position: absolute;
    left: 2px;
    bottom: 4px;
  }
}

.link {
  @apply inline-block border-black border-b-2 transform transition-colors;

  &:hover {
    @apply text-gold2 border-gold2;
  }
}

.no-visual-search {
  pointer-events: none;
}

.table {
  td {
    @apply py-[10px];
    vertical-align: top;
  }

  &--loose td {
    @apply py-5;
  }

  &--lined tr:not(:last-child) td {
    @apply border-b border-[#d4d4d4];
  }

  &--first-bold td:first-child {
    @apply font-medium;
  }
}

.rte {
  @apply text-base lg:text-lg;

  h2 {
    @apply text-2xl lg:text-3xl mb-5;
  }

  * + h2 {
    @apply mt-14;
  }

  p + p {
    @apply mt-5;
  }
}


  .clip-corner-sm {
    clip-path: polygon(4rem 0, 100% 0, 100% 100%, 0 100%, 0 4rem);

    @screen lg {
      clip-path: polygon(7rem 0, 100% 0, 100% 100%, 0 100%, 0 7rem);
    }
  }

  .clip-corner-md {
    clip-path: polygon(5rem 0, 100% 0, 100% 100%, 0 100%, 0 5rem);

    @screen lg {
      clip-path: polygon(8rem 0, 100% 0, 100% 100%, 0 100%, 0 8rem);
    }
  }

  .clip-corner-lg {
    clip-path: polygon(6rem 0, 100% 0, 100% 100%, 0 100%, 0 6rem);
    @screen lg {
      clip-path: polygon(10rem 0, 100% 0, 100% 100%, 0 100%, 0 10rem);
    }
  }


  // .clip-corner-7 {
  //   clip-path: polygon(7.5rem 0, 100% 0, 100% 100%, 0 100%, 0 7.5rem);
  // }

  // .clip-corner-8 {
  //   clip-path: polygon(8rem 0, 100% 0, 100% 100%, 0 100%, 0 8rem);
  // }

  // .clip-corner-10 {
  //   clip-path: polygon(10rem 0, 100% 0, 100% 100%, 0 100%, 0 10rem);
  // }
